<html>
    <head>
        <title> <%= siteTitle %> - <%= pageTitle %> </title>
        <%- include('head'); -%>
        <style>
            *{border-radius: 0;}
            body{margin: 0px;}
        </style>
    </head>
    <body>
        <%- include ('navbar'); -%>